[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

praw = "*"
tweepy = "*"
gunicorn = "*"
selenium = "*"
bintrees = "*"
"python-oauth2" = "*"
sqlalchemy = "*"
flask = "*"
"flask-sqlalchemy" = "*"
"psycopg2" = "*"
"flask-json" = "*"

[requires]
python_version = "2.7"