<!DOCTYPE html>
<html>
<head>
	<title>Twitter2Reddit Bot Setup</title>
</head>
<body>
	<form id="mainForm">
		<table id="handles">
			<tbody>
				<tr>
					<th>handle</th>
					<th>name</th>
					<th>max_id</th>
					<th>Remove</th>
				</tr>
				{% for item in handles %}
				<tr class="item">
					<td><input class="tweet_handle" type="text" value="{{ item.tweet_handle }}" name="tweet_handle" required></td>
					<td><input class="tweet_name" type="text" value="{{ item.tweet_name }}" name="tweet_name" required></td>
					<td><input class="tweet_max_id" type="text" value="{{ item.tweet_max_id }}" name="tweet_max_id" required></td>
					<td><a href="#" class="remove">Remove</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
<a href="#" id="add">Add new handle</a><br>
<a href="#" id="save">Save data</a><br>
<p style="font-weight:strong">Legend: </p>
<p>
	handle - is a twitter acc<br>
	name - is a name to be displayed in the start of the reddit post<br>
	max_id - is id of last tweet posted to reddit
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {

		var remover = function(e) {
			e.preventDefault();
			$(this).parent().parent().remove();
		}

		$('#add').click(function() {
			$('#handles > tbody:last-child').append(
				'<tr class="item">'+
				'<td><input class="tweet_handle" type="text" value="" name="tweet_handle" required></td>'+
				'<td><input class="tweet_name" type="text" value="" name="tweet_name" required></td>'+
				'<td><input class="tweet_max_id" type="text" value="0" name="tweet_max_id" required></td>'+
				'<td><a href="#" class="remove">Remove</a></td>'+
				'</tr>');

			$('.remove').click(remover)
		})
		$('.remove').click(remover);
		$('#save').click(function (e) {
			e.preventDefault();
			x = $("#mainForm").validate();
			alert(x);
			var _Handles = [];
			var $rows = $("tbody tr.item").each(function(index) {
			  $cells = $(this).find("td input");
			  _Handles[index] = {};
			  $cells.each(function(cellIndex) {
			    _Handles[index][this.name] = this.value;
			  });    
			});
			// Let's put this in the object like you want and convert to JSON (Note: jQuery will also do this for you on the Ajax request)
			// alert(JSON.stringify(_Handles));​
			jQuery.ajax({url: "/save", method:"POST", data: JSON.stringify(_Handles), dataType: "json", contentType: "application/json; charset=utf-8"})
			.done (function (data) {
					alert(data);
				});
		})

	})
</script>
</body>
</html>