<!DOCTYPE html>
<html>
<head>
</head>
<body>
<table id="handles">
	<tbody>
		<th>
			<td>handle</td>
			<td>name</td>
			<td>max_id</td>
			<td>Remove</td>
		</th>
		{% for item in handles %}
		<tr class="item">
			<td><input class="tweet_handle" type="text" value="{{ item.tweet_handle }}"></td>
			<td><input class="tweet_name" type="text" value="{{ item.tweet_name }}"</td>
			<td><input class="tweet_max_id" type="text" value="{{ item.tweet_max_id }}"</td>
			<td><a href="#" class="remove">Remove</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a href="#" id="add">+</a><br>
<a href="#" id="save">Save data</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$('#add').click(function() {
			$('#handles > tbody:last-child').append('<tr class="item"><td><input class="tweet_handle" type="text" value=""></td><td><input class="tweet_name" type="text" value=""</td><td><input class="tweet_max_id" type="text" value=""</td><td><a href="#" class="remove">Remove</a></td></tr>');
		})
	})
</script>
</body>
</html>