<!DOCTYPE html>
<html>
<head>
	<title>Twitter2Reddit Bot Setup</title>
</head>
<body>
	{{handles}}
<table id="handles">
	<tbody>
		<tr>
			<th>handle</th>
			<th>name</th>
			<th>max_id</th>
			<th>Remove</th>
		</tr>
		{% for item in handles %}
		<tr class="item">
			<td><input class="tweet_handle" type="text" value="{{ item.tweet_handle }}" name="tweet_handle"></td>
			<td><input class="tweet_name" type="text" value="{{ item.tweet_name }}" name="tweet_name"></td>
			<td><input class="tweet_max_id" type="text" value="{{ item.tweet_max_id }}" name="tweet_max_id"></td>
			<td><a href="#" class="remove">Remove</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a href="#" id="add">+</a><br>
<a href="#" id="save">Save data</a><br>
<p style="font-weight:strong">Legend: </p>
<p>
	handle - is a twitter acc<br>
	name - is a name to be displayed in the start if the post<br>
	max_id - is id of last tweet posted to reddit
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {

		var remover = function(e) {
			e.preventDefault();
			$(this).parent().parent().remove();
		}

		var save_callback = function (data, textStatus, jqXHR) {
			
		}

		$('#add').click(function() {
			$('#handles > tbody:last-child').append(
				'<tr class="item">'+
				'<td><input class="tweet_handle" type="text" value="" name="tweet_handle"></td>'+
				'<td><input class="tweet_name" type="text" value="" name="tweet_name"></td>'+
				'<td><input class="tweet_max_id" type="text" value="" name="tweet_max_id"></td>'+
				'<td><a href="#" class="remove">Remove</a></td>'+
				'</tr>');

			$('.remove').click(remover)
		})
		$('.remove').click(remover);
		$('#save').click(function (e) {
			e.preventDefault();
			var _Handles = [];
			var $rows = $("tbody tr.item").each(function(index) {
			  $cells = $(this).find("td input");
			  _Handles[index] = {};
			  $cells.each(function(cellIndex) {
			    _Handles[index][this.name] = this.value;
			  });    
			});
			// Let's put this in the object like you want and convert to JSON (Note: jQuery will also do this for you on the Ajax request)
			// alert(JSON.stringify(_Handles));​
			jQuery.post("/save", _Handles, save_callback);
		})

	})
</script>
</body>
</html>